body {
    background-color: #f8f9fa;
}

.form-container {
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-job-create-input {
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
}